$primary: #AD8D7A;
$black: #3E2F2C;
$white: #F0E4D4;
$brown-7: #865547;
$brown-2: #CCB29F;
$brown-4: #AB8D7A;
$white-full: #ffffff;
$grey-1: #c4c4c4;
$grey-2: #BEB1B0;
$grey-3: #A3949D;
$grey-4: #A3A4A1;
$Logo-1: #821936;
$Logo-2: #727271;
$grey-7: #eaeaea;





