$primary: #e6e6e7;
$black: #4c4c4c;
$white: #ffffff;
$brown-8: #dcdcdc;
$brown-7: #747474;
$brown-2: #cdcccc;
$brown-4: #aaaaaa;

$white-full: #ffffff;
$grey-1: #c4c4c4;
$grey-2: #bdbdbd;
$grey-3: #a5a5a5;
$grey-4: #a7a7a7;
$Logo-1: #821936;
$Logo-2: #727271;
$grey-7: #eaeaea;





