@import '../../app/scss/mixins';
@import '../../app/scss/colors';

@media screen and (max-width: 767px) {
  .massage {
    &__anons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }
  }

  .block-massages {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding-bottom: 40px;
  }

  //.massage-block-video {
  //  display: none;
  //}

  .massage__video-content {
    display: none;
  }

}