@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.block-courses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  padding-bottom: 20px;
}

.course {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  &__title {
    @include title-h1;
    color: $black;
    padding-top: 15px;
    padding-bottom: 15px;

    &-main {
      @include title-h2;
      color: $brown-7;
      padding-bottom: 15px;
    }

    &-video {
      @include title-h2;
      color: $brown-7;
      padding-bottom: 15px;
    }
    &-faq {
      @include title-h2;
      color: $brown-7;
      padding-bottom: 15px;
    }
  }

  &__anons {
    display: block;
    padding-bottom: 20px;
    padding-top: 10px;

    &-img {
      float: left;
      margin-right: 20px;
    }

    &-text {
      text-align: justify;
    }
  }

  &__description {
    display: block;
    padding-bottom: 20px;

    &-img {
      float: right;
      margin-left: 20px;
    }

    &-text {
      text-align: justify;
    }
  }

  &__video {
    display: block;
    padding-bottom: 20px;

    &-content {
      float: left;
      margin-right: 20px;
    }

    &-text {
      text-align: justify;
    }
  }

  &-block-center {
    width: 100%;
    padding: 20px;
    border: 1px solid $black;
    background-color: $white;
    margin-bottom: 30px;
  }

  &-block-bottom {
    width: 100%;
    border: 1px solid $black;
    background-color: $white;
    padding: 20px;
    margin-bottom: 50px;
  }

  &-block-video {
    padding-top: 20px;
    margin-bottom: 30px;
  }

  &-block-top {
    padding-top: 20px;
    margin-bottom: 30px;
  }

}


