@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.menu-main {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 40px;
  //&__item {
  //  @include body-xl;
  //  @include link-black;
  //}
}