@import '../../app/scss/mixins';
@import '../../app/scss/colors';

@media screen and (max-width: 767px) {
  .salon {
    &__anons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }

    &__description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
    }
  }

  .block-salons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }

}