@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.main-bonus {
  background-color: $white;
  border-bottom: 1px solid $black;
  padding-bottom: 20px;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    &-options {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    &-link {
      align-self: center;
      position: relative;
      @include title-h6;
      @include link-black;
      width: 100%;
      align-content: center;
      margin-top: 30px;
      text-align: center;
    }
  }
}


