@import '../../app/scss/mixins';
@import '../../app/scss/colors';

.testimonial {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  &__title {
    @include title-h1;
    color: $black;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__anons {
    display: block;
    padding-bottom: 20px;

    &-text {
      text-align: justify;
    }
  }
}

.block-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}



